@use "../base/color";
.cards_que {
  display: flex;
  background-color: rgb(249, 252, 251);
  /*  width: auto; */
  margin: 10px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  overflow-wrap: none;
  border-radius: 3px;
  box-shadow: 9px 9px 17px 1px rgba(0, 0, 0, 0.22);
}

.card_employ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 10px;
  gap: 10px;
  background-color: rgb(245, 241, 237);
}

.storage_status {
  background-color: color.$secondary-color;
  margin: 5px 10px;
  box-shadow: 9px 9px 17px 1px rgba(0, 0, 0, 0.22);
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.storage_status /* > div  */ {
  padding: 3vw;
}

.employee_photo {
  display: flex;
  background-color: color.$background-color;

  height: 5vw;
  width: 5vw;
  padding: 0vw;
  display: flex;
  border-radius: 50%;
  margin: 10px;
}
.card_employ /* > div */ {
  display: flex;
  background-color: color.$secondary-color;
  padding: 10px;
  justify-content: center;
<<<<<<< HEAD
  align-content: center;
  margin: 10px;
  gap: 5px;
  overflow-wrap: none;
  border-radius: 5px;
  box-shadow: 9px 9px 17px 1px rgba(0, 0, 0, 0.22);

  flex-wrap: wrap;
}

.cards_bar {
  display: flex;
  background-color: rgb(235, 119, 74);
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  justify-content: space-between;
  overflow-wrap: hidden;
  border-radius: 5px;
  box-shadow: 9px 9px 17px 1px rgba(0, 0, 0, 0.22);
=======
  box-shadow: 9px 9px 17px 1px rgba(0, 0, 0, 0.22);
  flex-direction: column;
  width: 20vw;
  margin: 1vw;
>>>>>>> 1058190a82f47e7e97d5eded58f007738a271b60
}
