@use "../base/font";
@use "../base/color";

.logo {
  padding: 1vw;
}

.logo h1 {
  padding: 1vw;
  font-family: font.$monoton;
  font-size: 51px;
  font-weight: 550;
  color: white;
  text-align: center;
}

nav {
  padding: 1vw;
}

.beer_img {
  width: 100%;
  background-color: color.$background-color;
}
.s_img {
  width: 100%;
}
