@use "../base/color";
@use "../base/font";

.storage_status {
  h3 {
    font-family: font.$monteserrat;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1vw;
  }
  h4 {
    font-family: font.$raleway;
    font-size: 16px;
  }
}
h2 {
  justify-content: center;
}
.beer_status {
  font-family: font.$raleway;
  color: color.$font-color;
  margin-left: 1vw;
  text-transform: uppercase;
  font-size: 21px;
  justify-content: center;
  display: flex;
}

.bartender {
  font-family: font.$raleway;
  color: color.$font-color;
  margin-left: 1vw;
  text-transform: uppercase;
  font-size: 21px;
  justify-content: center;
  display: flex;
}
.queue {
  font-family: font.$raleway;
  color: color.$font-color;
  margin-left: 1vw;
  text-transform: uppercase;
  font-size: 21px;
  justify-content: center;
  display: flex;
  background-color: darkgray;
}
