h2 {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
h5 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
}
h3 {
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
}
h4 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
