html {
  --primary-color: #344e41;
  --secondary-color: #588157;
  --background-color: #dad7cd;
  --font-color: #3a5a40;
  --font-color-two: #b5b5b5;
  --body-color: #f2f2f2;
  --queue-color: #f2f2f2;
}

html[data-theme="dark"] {
  --primary-color: #333333;
  --background-color: #434343;
  --secondary-color: #343a40;
  /* --color-headings: #3694ff; */
  --font-color: #b5b5b5;
  --font-color-two: #b5b5b5;
  --body-color: #4c4c4c;
  --queue-color: #343a40;
}
